h1 {
  text-decoration-color: blueviolet;
  color: chocolate;
}
div {
  align-content: center;
}
form {
  align-items: center;
  text-align: center;
}
h3 {
  text-align: center;
  color: #000000;
  border-spacing: center;
  background-color: aqua;
  text-decoration-color: blue;
  transition: ease-out;
}
